html, body{
    height: 100%; 
    width: 100%; 
    // font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #222;
    scroll-behavior: smooth;
    }

.navbar{
        padding: .8rem; 
    
        
} 
.bg-nav{
    background-color: #e6e6e6
}
  
    .navbar-nav li {
        padding-right: 20px;
        padding-top: 15px;

    }
    
    .nav-link {
        font-size: 1.1em !important;
    }
.navbar-brand{
    max-height: 50px;
}

.img-responsive{
    height: 69px;
    width: 110px;
    margin-top: -13px;
}
    
#slides{
    margin-top: 5rem;
}
    .carousel-inner img{
        width: 100%;
        height: 100%; 
    } 


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: rgb(237, 240, 206);
  background-size: 100%, 100%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}
    
    .carousel-caption{
        position: absolute; 
        top: 50%;
        transform: translateY(-50%)
    }
    
    .carousel-caption h1{
        font-size: 370%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
        margin-top: 16rem;
    }
    
    // .carousel-caption h3{
    //     font-size: 225%;
    //     font-weight: 500;
    //     text-shadow: 1px 1px 15px #000; 
    //     padding-bottom: 1rem;
    // }
    
    // .btn-primary{
    //     background-color: #04bbb0;
    //     border: 1px solid  #04bbb0;
       
    // } 
    
    // .btn-primary:hover{
    //     background-color: #04bbb0;
    //     border: 1px solid  #04bbb0;
    // }
    
    // #btn-hero{
    //     margin-top: 1rem; 
    //     color: #fff;
    
    // a {	
    //     color: #fff;	
    //      &:visited {	
    //       color: #fff;	
    //     }	
    //      &:hover {	
    //       color: #fff;	
    //       }	
    // }
    // }
    
    #i4cCover{
        background-color:linear-gradient(rgba(11, 129, 158, 0.6),rgba(170, 59, 221, 0.2))
    }
    .mentee a{
        :visited{
            color: #fff;
        }
    }
    
    .padding{
        padding-bottom: 2rem;
    } 
    
    #jumbotron{
        text-align: center;
        
    } 

    #hello{
        font-size: 2.5rem;
    } 

    #fun-fact{
        font-style: italic;
    } 
    #speciality{
        font-weight: 900;
    }
    #webTools{
        font-weight: 900;
        font-size: 1.7rem;
    }
    
    
    .social{
    padding-top: 2rem;
    
    hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    }
    }
    
    p.lead{
        font-size: 1.5rem;
    }
    // .card{
    //     margin:auto;
    //     text-align: center;
    //     width: 50%;
    // } 
    
    #fixed{
        background-image: linear-gradient(rgba(11, 129, 158, 0.6),rgba(170, 59, 221, 0.2)), url("img/fixed.jpg");
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
        height: 65vh;
    
    } 
    
    .col-lg-6{
        margin-top: 4rem;
    p{
        margin-top: 3rem;
        font-size: 15px;
    }
    img{
        max-width: 30%;
    }
    }
    
    #philosophy{
        margin-left: 4rem;
        margin-top: 0rem;

    } 

    #aboutme{
        font-size: 1.5rem; 
        text-align: left;

    }
    
    .earth{ 
        margin-right: 3em;
        width: 85%;
        margin-top: 7rem;
        border-style: groove;
    }
    
    
    
    
    .bs-calltoaction{
        position: absolute;
        width:auto;
        padding: 15px 450px;
        border: 1px solid black;
        margin-top: 130px;
        margin-bottom: 10px;
        border-radius: 5px; 
    }
    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }
    
            .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }
    
                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                    text-align: center
                }
    
                .cta-desc{
                    padding: 0; 
                    text-align: center; 
                    
                }
    
                .cta-desc p:last-child{
                    margin-bottom: 0;
                    font-size: 20px;
                }
    
            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px; 
    
                a {	
                    color: #000;	
                     &:visited {	
                      color: #fff;	
                    }	
                }
            }
            .bs-calltoaction.bs-calltoaction-primary{
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            } 
    
    .program-wrapper{
        padding: 1em .5em;
    }

    .program-item{
        display:inline; 
        padding: 0 .3em 0;
    }
    

    #program-language{
        height: 15vh;
    }
    
    .cta{
        padding-top: 3rem; 
        padding: 3rem;
        
        }
        
        #cta{
            background-image: linear-gradient(rgba(21, 25, 233, 0.87),rgba(13, 113, 153, 0.993)); 
            color: white; 
        }
    #join{
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    } 

    #quoteFooter{
        background-color: rgba(13, 113, 153, 0.993)
    } 

    #authorFooter{
        background-color: rgb(98, 194, 197);
        padding-top: 1rem;
    } 
    .blockquote-footer::before{
        color: white; 
        
    }
    #cite{
        color: white;
        font-size: 115%
    }

    #footContact{
        color: black;
        margin-bottom: 2.5rem;
    }
    
    .network a{
        font-size: 5rem;
        padding: 0 3rem;

        .fa-linkedin{
            color:#0077B5
        }

        .fa-github{
            color:#211F1F
        } 

        #gmail{
            color:#B23121
        }
    
    // .fa-facebook{
    //     color: #3b5998;
    // }
    // .fa-twitter{
    //     color: #00aced;
    // }
    // .fa-instagram{
    //     color: #517fa4;
    // }
    // .fa-youtube{
    //     color:#bb0000
    // }
    // .fa-reddit{
    //     color:#ff4301
    // }
    
    .fa-linkedin:hover,
    .fa-github:hover,
    #gmail:hover{
        color: #747474;
    }
    } 

    // #contact{
    //     background-color: #6b78aa;
    //     color:#d5d5d5;
    //    padding-top: 2rem;
    // }
    
    footer{
        background-color: whitesmoke ;
        color:#d5d5d5;
        padding-top: 2rem;
    }
    hr.light{
        border-top: 1px solid #d5d5d5;
        width: 75%;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
    footer a{
        color:#d5d5d5;
    }
    hr.light-100{
        border-top: 1px solid #d5d5d5;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
    
   
    
    
    // ---- MEDIA QUERIES ---
    @media (max-width: 992px){
        .network a{
            font-size: 4em;
            padding: 2rem;
        } 
        
    }
    
    @media (max-width: 768px){
        #slides{
            margin-top: 82px;
        }
        .carousel-caption{ 
            top: 45%;
            
        } 
         .carousel-caption h1{
            font-size: 350%;
            margin-top: 10rem;
        }
        h3{
            font-size: 140%;
            font-weight: 400;
            padding-bottom: .2rem;
        }
        .display-4{
            font-size: 200%;
        }
        .network a{
            font-size: 5rem;
            padding: 3.5rem;
        } 
        .program-item{
            padding-top: 1em;
        } 
        #program-language{
            height: 12vh;
            padding: 20px 23px 5px;
        } 
        .earth{
            margin-right: 0em;
            width: 40%;
            margin-top: 3rem;
            border-style: groove;
        } 

        #fixed{
            height: 37vh;
        }


        .bs-calltoaction{
            position: absolute;
            width: auto;
            padding: 5px 260px;
            border: 1px solid black;
            margin-top: 115px;
            margin-bottom: 10px;
            border-radius: 5px;
        } 
        #jumbotron{
            justify-content: center;
        }
    } 
       
    
    
    @media (max-width: 576px){
        #slides{
            margin-top: 75px;
        }
        .carousel-caption{ 
            top: 40%;
            
        } 
        .carousel-caption h1{
            font-size: 220%;
            margin-top: 4rem;
        }
        h3{
            font-size: 110%;
        }
        .carousel-indicators{
            display: none;
        }
        .network a{
            font-size: 3.5rem;
            padding: 1.7rem;
        } 
        .program-item{
            display: flex;
            justify-content: center;
            padding-top: 1em;
        } 
        #program-language{
            height: 15vh;
        } 
        .earth{
            margin-right: 0em;
        } 
        .col-lg-6{
        margin-right: 0.5rem;
        } 
        .bs-calltoaction{
            padding: 0px 35px;
            position: absolute;
            width: auto;
            border: 1px solid black;
            margin-top: 59px;
            margin-bottom: 10px;
            border-radius: 5px;
        } 
        #fixed {
            margin: 0 0 4rem;
        }
        #philosophy{
            margin-left: 1rem;
            margin-top: 0rem;
    
        }
        #aboutme{
            font-size: 1.1rem; 
            text-align: left;
    
        } 
    } 
 
   