html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222; }

.navbar {
  padding: .8rem; }

.bg-nav {
  background-color: #e6e6e6; }

.navbar-nav li {
  padding-right: 20px;
  padding-top: 15px; }

.nav-link {
  font-size: 1.1em !important; }

.navbar-brand {
  max-height: 50px; }

.img-responsive {
  height: 69px;
  width: 110px;
  margin-top: -13px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000; }

.carousel-caption h3 {
  font-size: 225%;
  font-weight: 500;
  text-shadow: 1px 1px 15px #000;
  padding-bottom: 1rem; }

.btn-primary {
  background-color: #04bbb0;
  border: 1px solid  #04bbb0; }

.btn-primary:hover {
  background-color: #04bbb0;
  border: 1px solid  #04bbb0; }

#btn-hero {
  margin-top: 1rem;
  color: #fff; }
  #btn-hero a {
    color: #fff; }
    #btn-hero a:visited {
      color: #fff; }
    #btn-hero a:hover {
      color: #fff; }

.mentee a :visited {
  color: #fff; }

.padding {
  padding-bottom: 2rem; }

#jumbotron {
  text-align: center; }

#hello {
  font-size: 2.5rem; }

#fun-fact {
  font-style: italic; }

.social {
  padding-top: 2rem; }
  .social hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem; }

p.lead {
  font-size: 1.5rem; }

#fixed {
  background-image: linear-gradient(rgba(11, 129, 158, 0.6), rgba(170, 59, 221, 0.2)), url("img/fixed.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh; }

.col-lg-6 {
  margin-top: 4rem; }
  .col-lg-6 p {
    margin-top: 3rem;
    font-size: 15px; }
  .col-lg-6 img {
    max-width: 30%; }

#philosophy {
  margin-left: 4rem;
  margin-top: 0rem; }

#aboutme {
  font-size: 1.5rem;
  text-align: left; }

.earth {
  margin-right: 3em;
  width: 85%;
  margin-top: 7rem;
  border-style: groove; }

.bs-calltoaction {
  position: absolute;
  width: auto;
  padding: 15px 426px;
  border: 1px solid black;
  margin-top: 130px;
  margin-bottom: 10px;
  border-radius: 5px; }

.bs-calltoaction > .row {
  display: table;
  width: calc(100% + 30px); }

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle; }

.cta-contents {
  padding-top: 10px;
  padding-bottom: 10px; }

.cta-title {
  margin: 0 auto 15px;
  padding: 0;
  text-align: center; }

.cta-desc {
  padding: 0;
  text-align: center; }

.cta-desc p:last-child {
  margin-bottom: 0;
  font-size: 20px; }

.cta-button {
  padding-top: 10px;
  padding-bottom: 10px; }
  .cta-button a {
    color: #000; }
    .cta-button a:visited {
      color: #fff; }

.bs-calltoaction.bs-calltoaction-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.program-wrapper {
  padding: 1em .5em; }

.program-item {
  display: inline;
  padding: 0 .3em 0; }

#program-language {
  height: 15vh; }

.cta {
  padding-top: 3rem;
  padding: 3rem; }

#cta {
  background-image: linear-gradient(rgba(21, 25, 233, 0.87), rgba(13, 113, 153, 0.993));
  color: white; }

#join {
  margin-bottom: 1.5rem;
  margin-top: 1rem; }

.network a {
  font-size: 4.5em;
  padding: 3rem; }
  .network a .fa-linkedin {
    color: #0077B5; }
  .network a .fa-github {
    color: #211F1F; }
  .network a #gmail {
    color: #B23121; }
  .network a .fa-linkedin:hover,
  .network a .fa-github:hover,
  .network a #gmail:hover {
    color: #747474; }

footer {
  background-color: #e6e6e6;
  color: #d5d5d5;
  padding-top: 2rem; }

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem; }

footer a {
  color: #d5d5d5; }

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem; }

@media (max-width: 992px) {
  .network a {
    font-size: 4em;
    padding: 2rem; } }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%; }

  .carousel-caption h1 {
    font-size: 350%; }

  h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem; }

  .display-4 {
    font-size: 200%; }

  .network a {
    font-size: 2.5em;
    padding: 1.2rem; }

  .program-item {
    padding-top: 1em; }

  #program-language {
    height: 15vh;
    padding: 11px 23px 5px; } }
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%; }

  .carousel-caption h1 {
    font-size: 250%; }

  h3 {
    font-size: 110%; }

  .carousel-indicators {
    display: none; }

  .network a {
    font-size: 2em;
    padding: .7rem; }

  .program-item {
    display: flex;
    justify-content: center;
    padding-top: 1em; }

  #program-language {
    height: 20vh; } }

/*# sourceMappingURL=main.css.map */
